$color-brown: #443a24;
$color-white: #fff;
$color-light: #fafaf2;
$color-yellow: #eed002;
$color-beige: #dfdcb0;
$color-lime: #b9e005;
$color-vinous: #3d2723;
$color-blue: #2158d5;
$color-orange: #ec4b36;
$color-coffee: #e4e3d2;
$color-mustard: #dfc40a;
$color-grey: #a1a094;
$color-brown: #453c25;
$color-dark-brown: #443b25;
$color-light-brown: #796b46;
$color-hover-green: #bbe10d;
$color-dark-green: #3d380a;
$color-light-grey: #ebebe6;
$color-dark-grey: #272723;
$color-light-beige: #f5f4e2;
$color-border-left: #edede9;
$color-border-right: #e4e3cf;
$color-deep-yellow: #ffdf06;
$color-deep-yellow-active: #ffe534;

$screen-lg: 900px;
$screen-md: 700px;
$screen-sm: 540px;
$screen-xs: 400px;
