.c-btn-see
  %a.c-btn-see__link.js-btn-expand{:href => "#"}
    %i.c-btn-see__icon.c-btn-see__icon--up.js-btn-expand-up.fa.fa-angle-up{:"aria-hidden" => "true"}
    %i.c-btn-see__icon.c-btn-see__icon--down.js-btn-expand-down.fa.fa-angle-down.h-hidden{:"aria-hidden" => "true"}