.c-create
  .l-container-main
    %h3.c-create__header Love this itinerary?
    .c-create__text
      Use it to create a new contest and local experts
      %br/
      will get a better sense of the trip you want
    %button.c-create__btn Create A New contest
    %a.c-create__link{:href => "#"} Learn more