%footer.c-footer
  .l-container-footer.clearfix
    %ul.c-footer__menu.l-left
      %li.c-footer__item
        %a.c-footer__link{:href => "#"} Home
      %li.c-footer__item
        %a.c-footer__link{:href => "#"} Itineraries
      %li.c-footer__item
        %a.c-footer__link{:href => "#"} About
    %a.c-footer__logo{:href => "#"}
    .c-social.c-footer__social.l-right
      %ul.c-social__menu
        %li.c-social__item
          %a.c-social__link.c-social__link--footer_tw{:href => "#"}
        %li.c-social__item
          %a.c-social__link.c-social__link--footer_fb{:href => "#"}
      .c-social__copy &copy; Wanderist 2014