%header.c-header
  .l-container
    .c-header__wrap.l-clearfix
      .l-left
        %a.c-header__menu-btn{:href => "#"}
        %ul.c-header__menu
          %li.c-header__item
            %a.c-header__link.c-header__link--overview{:href => "index.html"} Overview
          %li.c-header__item
            %a.c-header__link.c-header__link--details{:href => "details.html"} Details
      .c-social.c-header__social.l-right
        %span.c-social__share.l-left Share this itinerary:
        %ul.c-social__menu.l-left
          %li.c-social__item
            %a.c-social__link.c-social__link--tw{:href => "#"}
          %li.c-social__item
            %a.c-social__link.c-social__link--fb{:href => "#"}
