.c-main
  .l-container-main
    .c-main__itin ITINERARY
    %h1.c-main__header Trip to Fabulous Las Vegas
    .l-clearfix
      .c-main__days.l-left 2 Days
      %ul.c-main__menu.l-left
        %li.c-main__item.l-clearfix
          %a.c-main__link.c-main__link--family{:href => "#"}
            %span.h-md-hidden family
        %li.c-main__item
          %a.c-main__link.c-main__link--foodie{:href => "#"}
            %span.h-md-hidden foodie
        %li.c-main__item
          %a.c-main__link.c-main__link--cart{:href => "#"}
            %span.h-md-hidden shopping
        %li.c-main__item
          %a.c-main__link.c-main__link--pet{:href => "#"}
            %span.h-md-hidden pet frienly