.c-user.l-clearfix
  %img.c-user__img.l-left{:src => "images/user.jpg", :alt => "user"}/
  .c-user__wrap.l-left
    .c-user__local Local Expert
    .c-user__name Audrey Tautou
    .c-rait.c-user__rait
      .star-rating
        %select.js-star-rating{:name => "rait"}
          %option{:label => "1", :value => "1"}
          %option{:label => "2", :value => "2"}
          %option{:label => "3", :value => "3"}
          %option{:label => "4", :value => "4"}
          %option{:label => "5", :value => "5"}