.c-user-stats
  .c-user-stats__item
    .c-user-stats__info Buget
    .c-user-stats__bar
      .c-user-stats__inner-bar{:style => "width: 60%;"}
    .c-user-stats__info.c-user-stats__info--text-right Luxury
  .c-user-stats__item
    .c-user-stats__info Relaxed
    .c-user-stats__bar
      .c-user-stats__inner-bar{:style => "width: 80%;"}
    .c-user-stats__info.c-user-stats__info--text-right Active
  .c-user-stats__item
    .c-user-stats__info Desolate
    .c-user-stats__bar
      .c-user-stats__inner-bar{:style => "width: 40%;"}
    .c-user-stats__info.c-user-stats__info--text-right Crowdy