.c-overview {
	&__title {
		@include font(14px, 600, $color-vinous);
		margin-bottom: 28px;
	}

	&__text {
		@include font(14px, 400, $color-dark-grey);
		line-height: 20px;
	}

	&__arrow {
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		display: block;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		color: $color-blue;

		&:hover {
			color: $color-orange;
		}

		&--active {
			color: $color-orange;
		}
	}
}
